.header_excursion {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1508951598074-bcc78111198c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1216&q=80")
      no-repeat center center;
  background-position: 0 -350px;
  background-size: cover;
  height: 290px;
}

.hero_excursion {
  position: relative;
}
.hero_excursion h1 {
  position: absolute;
  transform: translateY(5%);
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 72px;
  line-height: normal;
}

.type_of_tour {
  margin-top: 40px;
  padding: 60px;
  max-width: 100%;
  min-height: 260px;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

.type_of_tour-main-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 460px;
}

.type_of_tour-upper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.text {
  user-select: none;
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 14px;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.line {
  margin-top: 13px;
  width: 475px;
  height: 3px;
  background: #d4d4d4;
  position: relative;
}

.blue-line {
  width: 0;
  height: 100%;
  background: #0499dd;
  position: absolute;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.tour_deteails {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.tour_location,
.tour_date,
.tour_number-of-people {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 24px 10px 25px;
  width: 235px;
  height: 50px;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}

.tour_location:hover,
.tour_date:hover,
.tour_number-of-people:hover {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.tour_location p,
.tour_date p,
.tour_number-of-people p {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  line-height: normal;
}

.tour_location i,
.tour_date i,
.tour_number-of-people i {
  font-size: 18px;
  color: #0499dd;
}

.tour_deteails__btn {
  position: relative;
  border: none;
  cursor: pointer;
  width: 235px;
  height: 50px;
  border-radius: 10px;
  background: var(
    --blue-grad,
    linear-gradient(135deg, #0499dd 0%, #17c1bc 100%)
  );
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.tour_deteails__btn i {
  padding-left: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.tour_deteails__btn:hover {
  padding-right: 50px;
}
.tour_deteails__btn:hover i {
  opacity: 1;
}

.filtres_and_our-tours {
  margin: 38px 0 80px 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.filtres {
  padding: 25px 35px 28px 35px;
  width: 295px;
  height: min-content;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

.filtres h2 {
  color: var(--blue, #0499dd);
  font-family: Montserrat;
  font-size: 15px;
  line-height: normal;
  margin-bottom: 16px;
}
.accordion {
  user-select: none;
  width: 100%;
}

.accordion .contentBx {
  position: relative;
}

.accordion .contentBx .label {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.accordion .contentBx .label::before {
  position: absolute;
  right: 0;
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  color: #0499dd;
  transition: transform 0.3s ease-in-out;
}

.accordion .contentBx.active .label::before {
  content: "\f068";
  transform: rotate(180deg);
}

.accordion .contentBx .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion .contentBx.active .content {
  max-height: 180px;
}
.label h3 {
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 16px;
  line-height: normal;
  padding: 20px 0;
}

.slider {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 80px;
  width: 100%;
  height: 4px;
  background: #d4d4d4;
  position: relative;
  margin-bottom: 40px;
}
.circle {
  cursor: pointer;
  border: 1px solid #d4d4d4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 5;
  top: -8.5px;
  display: grid;
  place-items: center;
}
.inside-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #0499dd;
  position: absolute;
}
.number {
  outline: none;
  padding: 7px 0 8px 16px;
  position: absolute;
  width: 105px;
  height: 30px;
  border-radius: 40px;
  border: 2px solid var(--gray-2, #ededed);
  background: var(--white, #fff);
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 12px;
  line-height: normal;
  top: -58px;
  transition: 0.5s ease-in-out;
}

.number:focus {
  border: 2px solid var(--gray-2, #0499dd);
}
.colored-line {
  height: 100%;
  background: #0499dd;
  position: absolute;
}

.accordion__line {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background: #ededed;
  border: none;
  border-radius: 50%;
}
.number-of-people_div {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 7px;
}

.n_o_p-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.n_o_p-2 {
  grid-area: 1 / 2 / 2 / 3;
}
.n_o_p-3 {
  grid-area: 1 / 3 / 2 / 4;
}
.n_o_p-4 {
  grid-area: 2 / 1 / 3 / 2;
}
.n_o_p-5 {
  grid-area: 2 / 2 / 3 / 3;
}
.n_o_p-6 {
  grid-area: 2 / 3 / 3 / 4;
}
.n_o_p-7 {
  grid-area: 3 / 1 / 4 / 2;
}
.n_o_p-8 {
  grid-area: 3 / 2 / 4 / 3;
}
.n_o_p-9 {
  grid-area: 3 / 3 / 4 / 4;
}
.n_o_p-10 {
  grid-area: 4 / 1 / 5 / 2;
}
.n_o_p-11 {
  grid-area: 4 / 2 / 5 / 4;
}
.more-number-of-people {
  width: 100% !important;
}
.number-of-people {
  cursor: pointer;
  width: 73px;
  height: 30px;
  border-radius: 40px;
  border: 2px solid var(--gray-2, #ededed);
  background: var(--white, #fff);
  display: grid;
  place-items: center;
  transition: 0.3s ease-in-out;
  color: #282828;
  font-family: Montserrat;
  font-size: 13px;
  line-height: normal;
}

.number-of-people:hover {
  border: 2px solid #0499dd;
  color: #0499dd;
}

.number-of-people {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.number-of-people.clicked {
  background-color: #0499dd;
  border: 2px solid #0499dd;
  color: #ffffff;
}

.field-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 5px;
}
.checkbox-text {
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 12px;
  line-height: normal;
}

.checkbox-label::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0499dd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease;
}

.checkbox-field:checked + .checkbox-label::after {
  opacity: 1;
}

.checkbox-label {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #ccc;
  position: relative;
  transition: all 0.3s ease;
}

.checkbox-label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0499dd;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}

.checkbox-field:checked + .checkbox-label::after {
  opacity: 1;
}

.place-choosing {
  margin-bottom: 20px;
}

.reset_filter {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}
.reset_filter i {
  font-size: 16px;
  transform: rotate(-45deg);
  color: #b2b2b2;
}

.reset_filter span {
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 12px;
  line-height: normal;
}

.our-tours__h2 {
  color: var(--blue, #0499dd);
  font-family: Montserrat;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 40px;
}

.our-tours__pagination {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.pagination_card__texts {
  padding: 27px 43px 27px 47px;
}
.our-tours__pagination-card {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  min-height: 303px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}

.pagination_card__img {
  user-select: none;
  min-width: 238px;
  height: 313px;
  overflow-y: hidden;
}
.pagination_card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-tours__pagination-card h2 {
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 18px;
  line-height: normal;
}

.price-time_deteails {
  display: flex;
  column-gap: 10px;
}

.price-time_deteails span {
  color: var(--blue, #0499dd);
  font-family: Montserrat;
  font-size: 18px;
  line-height: normal;
}

.price-time_deteails i {
  color: var(--blue, #0499dd);
  font-size: 15px;
}

.price-time_deteails p {
  margin-top: 2px;
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 10px;
  line-height: normal;
}

.pagination_card__texts-main {
  margin: 20px 0 25px 0;
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.pagination_card__texts-main hr {
  width: 8px;
  height: 75px;
  border: none;
  background: #0499dd;
}

.pagination_card__texts-main p {
  max-width: auto;
  color: var(--black, #282828);
  font-family: Montserrat-Thin;
  font-size: 12px;
  line-height: normal;
}

.heart-container {
  margin-left: 170px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #0499dd;
  display: grid;
  place-items: center;
}

.heart-container i {
  font-size: 21px;
  color: #0499dd;
  transition: all 0.6s ease-in-out;
}

.heart-container.clicked i.fa-regular {
  display: none;
}

.heart-container.clicked i.fa-solid {
  display: inline-block;
}
.heart-container.clicked i.fa-solid {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.pagination_card__buttons {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.pagination_card__buttons-more {
  padding-top: 12px;
  text-align: center;
  position: absolute;
  outline: none;
  cursor: pointer;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(135deg, #0499dd 0%, #17c1bc 100%);
  color: var(--white, #fff);
  font-family: Montserrat;
  font-size: 12px;
  line-height: normal;
  overflow: hidden;
}

.pagination_card__buttons-more.pagination_card__buttons-more-1 {
  transition: all 0.2s linear 0s;
}
.pagination_card__buttons-more.pagination_card__buttons-more-1:before {
  content: "ï…¸";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 1px;
  transition: all 0.2s linear 0s;
}
.pagination_card__buttons-more.pagination_card__buttons-more-1:hover {
  text-indent: -20px;
}
.pagination_card__buttons-more.pagination_card__buttons-more-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
}

.pagination li a {
  text-decoration: none;
  color: var(--black, #282828);
  font-family: Montserrat;
  font-size: 16px;
  line-height: normal;
  transition: 0.4s ease;
}

.dark-theme .pagination li a {
  color: #ffffff;
}

.pagination li a:hover {
  color: #0499dd;
}

.active-page a {
  color: #0499dd !important;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 11px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.our-tours__pagination-card {
  animation: fade-in 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.our-tours__pagination-card.page-transition {
  opacity: 0;
}

/* ------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 1024px) {
  .navbar {
    padding: 35px 0;
  }

  .header_excursion {
    background-position: 0;
    background-size: cover;
    background-attachment: local;
    height: 510px;
  }

  .hero_excursion h1 {
    position: absolute;
    top: 50%;
    transform: translateY(162%);
    font-size: 48px;
  }
  .tour_deteails {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .type_of_tour {
    margin: 100px 0;
  }

  .filtres_and_our-tours {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    column-gap: 40px;
  }

  .pagination {
    margin: 70px 0 150px 0;
  }

  .pagination_card__img {
    min-width: 238px;
    height: 381px;
    overflow-y: hidden;
  }

  .filtres {
    padding: 25px 39px 55px 35px;
    width: 100%;
    height: min-content;
    margin-bottom: 110px;
  }

  .accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
  }

  .reset_filter {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
  }
}

/* ------------------------------------------------------------------------------------------------------ */

@media only screen and (max-width: 745px) {
  .hero_excursion h1 {
    position: absolute;
    left: 2.5%;
    right: 0%;
    top: 50%;
    transform: translateY(192%);
    font-size: 33px;
    margin: 0 auto;
  }
  .type_of_tour {
    margin-top: 60px;
    padding: 60px 10px 70px 10px;
    max-width: 100%;
    min-height: 260px;
  }

  .price-time_deteails span {
    font-size: 15px;
  }

  .type_of_tour-upper {
    align-items: flex-start;
    column-gap: 6px;
  }

  .text {
    text-align: center;
    font-size: 10px;
  }

  .line {
    margin-top: 13px;
    width: 100%;
    height: 3px;
    background: #d4d4d4;
    position: relative;
  }

  .our-tours__pagination-card {
    overflow: hidden;
    width: 100%;
    min-height: 303px;
    display: flex;
    flex-direction: column;
  }

  .pagination_card__img {
    width: 100%;
    height: 240px;
  }

  .pagination_card__texts {
    padding: 24px 39px 66px 36px;
  }

  .accordion {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 70px;
  }

  .filtres {
    padding: 25px 64px;
  }

  .reset_filter {
    display: flex;
    justify-content: center;
  }
}
